:root {
    --bg-color: rgb(20,20,20);
}

body {
    align-items: center;
    background-image: url("CyberSecurityBackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}
#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 2000px;
    width: calc(100% - 20px);
    flex-direction: row;
    flex: 1;
    display: flex;
    height: 5vh;
}
.container{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 360px;
    position: relative;
    width: 450px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Add box-shadow */
    transition: box-shadow 0.3s ease-in-out; /* Add transition */
    transition: all 1s ease-out;
    animation: drop-in 0.5s ease-out forwards;
}
@keyframes drop-in {
  from {
    top: -200px; /* start position above the viewport */
    opacity: 0; /* start with 0 opacity */
  }
  to {
    top: 0; /* end position at the top of the viewport */
    opacity: 1; /* end with full opacity */
  }
}

.card:hover {
    box-shadow: 0 0 30px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5); /* Add brighter box-shadow */
  }

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06), 
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}
header{
    border: 1px black;
    font-family: "Times New Roman";
    text-align: center;
    justify-content: center;
    font-size: 178px;
    color:#ffffff;
    text-shadow: 4px 4px #000000;
    margin: -100px 20px 100px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 2s steps(14),
      cursor .4s step-end infinite alternate;
}   
@keyframes cursor {
  50% { border-color: transparent }
}
@keyframes typing {
  from {width: 0}
}
#paper{
    width: auto;
    height: 960px;
    margin-left: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#backButton {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  #backButton:hover {
    box-shadow: 0 0 30px rgba(255,255,255,0.5), 0 0 10px rgba(255,255,255,0.5); /* Add brighter box-shadow */

  }
h1 .webtitle{
    padding: 1em 0 1em 1.25em;

}
h1 .word {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 1.25em;
    letter-spacing: 0.1em;
  }
  h5{
    letter-spacing: normal;
    animation-name: opacity;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* Added line */
  }
  
  .letter {
    display: inline-block;
    opacity: 0;
    animation-name: roll;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; /* Added line */
  }
  
  .letter:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .letter:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .letter:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .letter:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .letter:nth-child(5) {
    animation-delay: 0.5s;
  }
  .letter:nth-child(6) {
    animation-delay: 0.6s;
  }
  .letter:nth-child(7) {
    animation-delay: 0.7s;
  }
  .letter:nth-child(8) {
    animation-delay: 0.8s;
  }
  
  
  @keyframes roll {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes opacity{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }

.backgroundimage{
    border-radius: 70px;
    border-color: black;
    
}
.cardtitle{
    font-family: "Calibri";
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 36px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.cardtitle h3{
    text-align: center;
}
.card-image{

}
.card-image > i {
    font-size: 6em;
    opacity: 0.25;
  }
  

#cards:hover > .card::after {
    opacity: 1;
  }
.card:hover::before {
    opacity: 1;
  }
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  @media(max-width: 1000px) {
    body {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
  }
    